p{
	font-size: 2em;
	color:#b1b2b3;
}

h1,h2{
	color:#b1b2b3;
	font-family: Georgia;
}

h1{
	font-size: 2em;
}
 
h2{
	font-size: 1.3em;
}

body { 
	background-color:#333947;
	margin-top: 0px;
	background-size: 2000px;
}

table{
	border-collapse: collapse;
	background-color:#252729;
}

a:link {
	color: #a6c4f7;
	text-decoration: none;
}

a:visited {
	color: #9ba5c7;
}

a:hover{
	color: #252729;
	background-color: #a6c4f7;
}
