@media (min-aspect-ratio:16/9){ /*laptop display */
  body{
    min-width: 1024px;
    min-height: 800px;
  }

:root {
    --base-color: white;
    --base-variant: black;
    --accent-color: #FFD457;
  }
  
  .darkmode {
    --base-color: #1e1e1e;
    --base-variant: white;
    --accent-color: #5A6374;
  }
  
  .container {
    color: var(--base-variant);
    font-family: "inter", Georgia, 'Times New Roman', Times, serif;
  }
  
  .header { 
    display: flex;
    flex-direction: row;
  }
  
  #theme-swap {
    background-color: var(--base-color);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:0.3vh;
  }
  
  
  
  #theme-swap-link {
    background-color: var(--base-color);
    border: none;
    outline: none;
    margin-left:auto;
    justify-content: flex-end;
  }
  
  #theme-swap-link h2{
    align-items: center;
    font-family: 'roboto slab', Georgia, 'Times New Roman', Times, serif;
  }
  
  #theme-swap img{
    padding-left:0.5vw;
    margin-left:0;
    padding-top:1%;
    width:7vmin;
    height:7vmin;
  }
  
  #theme-swap img:last-child{
    display: none;
  }
  
  .darkmode #theme-swap img:first-child{
    display: none;
  }
  
  .darkmode #theme-swap img:last-child{
    display: block;
  }
  
  .image-swap img:last-child{
    display: none;
  }
  
  .darkmode .image-swap img:first-child{
    display:none;
  }
  
  .darkmode .image-swap img:last-child{
    display: block;
    width:1.5em;
    height:1.7em;
    padding-top:1.5em;
    margin-left:auto;
    justify-content: flex-end;
  }
  .image-swap {
    margin-left:auto;
    justify-content: flex-end;
  }
  
  .header .image-swap img{ 
    width:3vmin;
    height:3vmin;
    padding-left:10px;
    padding-right: 10px;
    padding-top:3vh;
    margin-left:auto;
    justify-content: flex-end;
  }
  
  .header a{
    padding-top:0;
    justify-content: flex-end;
    margin-left:auto;
    font-size: 2vmin;
  }
  
  .Line {
    position:absolute;
    margin-top: 0.2em;
    margin-left: -1%;
    border-left: 0;
    padding-left: 0;
    width: 101%;
    border-top:2px solid; 
    border-color: var(--base-variant);
    height: 2px;
  }
  
  .potraits {
    position: relative;
  }
  
  .profile-shadow {
    width:25%;
    height:50%;
    position: relative;
    margin-top:10%;
    margin-left:15%;
  }
  
  .shadow-swap img:last-child{
     display: none;
  }
  
  .darkmode .shadow-swap img:last-child{
    display: block;
  }
  
  .darkmode .shadow-swap img:first-child{
    display: none;
  }
  
  .shadow-swap img{
    max-width: 25%;
    height: auto;
    width: auto\9;
    position: relative;
    margin-top:22vh;
    margin-left:15vw;
  }
  
  .profile-pic {
    max-width: 25%;
    height: auto;
    width: auto\9;
    position: absolute;
    margin-top:22vh;
    margin-left:15vw;
    top: 3vh;
    left: 2vw;
  }
  
  .Biography {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right:40vw;
    padding-bottom: 0;
    margin-bottom: 0;
    animation:leftSlide;
    animation-duration: 1.5s;
  }
  
  .Biography h1{
    font-size:6vmin;
  }
  
  .Biography h1::after{
    content: "";
    display: block;
    width: 70%;
    height: 3px;
    margin-top: 1vh;
    background-color: var(--accent-color);
    justify-content: flex-start;
    border-radius: 2px;
  }
  
  .Biography h2{
    margin-top: -3vh;
    font-size:3.5vmin;
    line-height: 1.5em;
    font-weight: 100;
  }
  
 .image-description h1{
    text-align: center;
    flex-direction: column;
    display: flex;
    float: right;
    margin-top:-11vh;
    margin-right: 8vw;
    max-width: 25vw;
    font-size: 2vmin;
    font-weight: 150;
  }

  .picture img{
    display: flex;
    float: right;
    margin-top:-67vh;
    margin-right: 10vw;
    max-width: 20%;
    height: auto;
    width: auto\9;
  }

  .interests {
    text-align: left;
    margin-top: 5vh;
    padding-left: 60vw;
    padding-right: 5vw;
    font-size: 2.5vmin;
    margin-bottom: -30vh;
    animation: rightSlide;
    animation-duration: 1.5s;
  }
  
  .interests p::before{
    content: "";
    display: block;
    height: 3px;
    width: 35vw;
    margin-top: -2vh;
    margin-bottom: 1vh;
    background-color: var(--accent-color);
    justify-content: flex-end;
    border-radius: 2px;
  }

  .interests p {
    margin-top: -1vh;
    line-height: 1.5em;
    font-size: 3vmin;
  }

  .interests p a {
    text-decoration: underline;
  }
  
  .name p{
    margin-top: -1.4%;
    font-size: 2vmin;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
  }
  
  .footer h2{
    margin-top:2vh;
    margin-right:-50%;
    font-size: 2.5vmin;
  }
  
  .footer img{
    width:3em;
    height:3em;
  }
  
  .footer a{
    justify-content: flex-end;
    margin-left:auto;
    margin-right:0;
    margin-left:-0.3%;
    margin-top:1%;
  }
  
  
  .footer-line {
    content: "";
    display: block;
    margin-left: -1%;
    width: 102%;
    height: 2px;
    margin-top:38vh;
    background-color: var(--base-variant);
    justify-content: flex-start;
    border-radius: 1px;
  }
  
  a:link {
    text-decoration: none;
    color:var(--base-variant);
  }
  a:visited {
    text-decoration: none;
    color:var(--base-variant);
  }
  a:hover {
    text-decoration: none;
    color:var(--base-variant);
    opacity: 50%;
  }
  
  .right-aligned-top {
      position: absolute;
      display: flex;
      top:8px;
      right: 16px;
  }
  
  .right-aligned-bottom {
      position: absolute;
      right: 0.5vw;
      margin-top: 1vh;
      margin-bottom: 0;
  }

  .slides {
    display: none;
  }

  .prev {
    font-size: 5vmin;
    float: right;
    margin-right: 32vw;
    margin-top: -35vh;
  }

  .next {
    font-size: 5vmin;
    float: right;
    margin-right: 7vw;
    margin-top: -35vh;
  }

  .next:hover, .prev:hover {
    cursor: pointer;
    color:white;
    opacity: 1;
    background-color: gray; 
  }

  .interests-picture a img{ 
    max-width: 50%;
    height: auto;
    width: auto\9;
    float:left; 
    margin-left: 5vw; 
    margin-top: 2vh;
  }

  .interests-picture a:hover{
    color: none;
    opacity: 0.8;
  }

  .interests-picture a:last-child {
    display: none; 
  }

  .darkmode .interests-picture a:last-child {
    display: block; 
  }

  .darkmode .interests-picture a:first-child {
    display: none; 
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
   
  .picture {
    margin-top:8vh;
  }

  @font-face {
    font-family: "inter";
    src: url(https://fonts.google.com/share?selection.family=Inter) format("truetype");
  }

  .pictures {
    margin-top:-7vh;
  }
}

@media (max-aspect-ratio:16/9){ /*mobile display */

    body{
      min-width: 320px;
      min-height: 640px;
    }

  :root {
    --base-color: white;
    --base-variant: black;
    --accent-color: #FFD457;
  }
  
  .darkmode {
    --base-color: #1e1e1e;
    --base-variant: white;
    --accent-color: #5A6374;
  }
  
  .container {
    color: var(--base-variant);
    font-family: "inter", Georgia, 'Times New Roman', Times, serif;
  }
  
  .header { 
    display: flex;
    flex-direction: row;
  }
  
  #theme-swap {
    background-color: var(--base-color);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:0.3vh;
  }
  
  
  
  #theme-swap-link {
    background-color: var(--base-color);
    border: none;
    outline: none;
    margin-left:auto;
    justify-content: flex-end;
  }
  
  #theme-swap-link h2{
    align-items: center;
    font-family: 'roboto slab', Georgia, 'Times New Roman', Times, serif;
  }
  
  #theme-swap img{
    padding-left:0.5vw;
    margin-left:0;
    padding-top:1%;
    width:7vmin;
    height:7vmin;
  }
  
  #theme-swap img:last-child{
    display: none;
  }
  
  .darkmode #theme-swap img:first-child{
    display: none;
  }
  
  .darkmode #theme-swap img:last-child{
    display: block;
  }
  
  .image-swap img:last-child{
    display: none;
  }
  
  .darkmode .image-swap img:first-child{
    display:none;
  }
  
  .darkmode .image-swap img:last-child{
    display: block;
    width:1.5em;
    height:1.7em;
    padding-top:1.5em;
    margin-left:auto;
    justify-content: flex-end;
  }
  .image-swap {
    margin-left:auto;
    justify-content: flex-end;
  }
  
  .header .image-swap img{ 
    width:3vmin;
    height:3vmin;
    padding-left:10px;
    padding-right: 10px;
    padding-top:1.5vh;
    margin-left:auto;
    justify-content: flex-end;
  }
  
  .header a{
    padding-top:0;
    justify-content: flex-end;
    margin-left:auto;
    font-size: 2vmin;
  }
  
  .Line {
    position:absolute;
    margin-top: 0.2em;
    margin-left: -1%;
    border-left: 0;
    padding-left: 0;
    width: 101%;
    border-top:2px solid; 
    border-color: var(--base-variant);
    height: 2px;
  }
  
  .potraits {
    position: relative;
  }
  
  .profile-shadow {
    width:25%;
    height:50%;
    position: relative;
    margin-top:10%;
    margin-left:15%;
  }
  
  .shadow-swap img:last-child{
     display: none;
  }
  
  .darkmode .shadow-swap img:last-child{
    display: block;
  }
  
  .darkmode .shadow-swap img:first-child{
    display: none;
  }
  
  .shadow-swap img{
    max-width: 25%;
    height: auto;
    width: auto\9;
    position: relative;
    margin-top:22vh;
    margin-left:15vw;
  }
  
  .profile-pic {
    max-width: 25%;
    height: auto;
    width: auto\9;
    position: absolute;
    margin-top:22vh;
    margin-left:15vw;
    top: 3vh;
    left: 2vw;
  }
  
  .Biography {
    display: flex;
    flex-direction: column;
    margin-top: 50vh;
    padding-left: 5vw;
    padding-right:5vw;
    padding-bottom: 0;
    margin-bottom: 0;
    animation: leftSlide;
    animation-duration: 0.7s;
  }
  
  .Biography h1{
    font-size:6vmin;
  }
  
  .Biography h1::after{
    content: "";
    display: block;
    width: 70%;
    height: 3px;
    margin-top: 1vh;
    background-color: var(--accent-color);
    justify-content: flex-start;
    border-radius: 2px;
  }
  
  .Biography h2{
    margin-top: 0vh;
    font-size:3.5vmin;
    line-height: 1.5em;
    font-weight: 100;
  }
  
 .image-description h1{
    text-align: center;
    flex-direction: column;
    display: flex;
    float: right;
    margin-top:-53vh;
    margin-right: 30vw;
    max-width: 40vw;
    font-size: 3vmin;
    font-weight: 150;
  }

  .picture img{
    display: flex;
    float: right;
    margin-top:-90vh;
    margin-right: 23vw;
    max-width: 50%;
    height: auto;
    width: auto\9;
  }

  .interests {
    text-align: left;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 2.5vmin;
    margin-bottom: -30vh;
    margin-top: 10vh;
    animation: rightSlide;
    animation-duration: 0.7s;
  }
  
  .interests p::before{
    content: "";
    display: block;
    height: 3px;
    width: 65vw;
    margin-top: -1vh;
    margin-bottom: 1vh;
    background-color: var(--accent-color);
    justify-content: flex-end;
    border-radius: 2px;
  }

  .interests p {
    margin-top: -1vh;
    line-height: 1.5em;
    font-size: 3vmin;
  }

  .interests p a {
    text-decoration: underline;
  }
  
  .name p{
    margin-top: -1.4%;
    font-size: 2vmin;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
  }
  
  .footer h2{
    margin-top:2vh;
    margin-right:-50%;
    font-size: 2.5vmin;
  }
  
  .footer img{
    width:3em;
    height:3em;
  }
  
  .footer a{
    justify-content: flex-end;
    margin-left:auto;
    margin-right:0;
    margin-left:-0.3%;
    margin-top:1%;
  }
  
  
  .footer-line {
    content: "";
    display: block;
    margin-left: -1%;
    width: 102%;
    height: 3px;
    margin-top:38vh;
    background-color: var(--base-variant);
    justify-content: flex-start;
    border-radius: 1px;
  }
  
  a:link {
    text-decoration: none;
    color:var(--base-variant);
  }
  a:visited {
    text-decoration: none;
    color:var(--base-variant);
  }
  a:hover {
    text-decoration: none;
    color:var(--base-variant);
    opacity: 50%;
  }
  
  .right-aligned-top {
      position: absolute;
      display: flex;
      top:8px;
      right: 16px;
  }
  
  .right-aligned-bottom {
      position: absolute;
      right: 0.5vw;
      margin-top: 1vh;
      margin-bottom: 0;
  }

  .slides {
    display: none;
  }

  .prev {
    font-size: 5vmin;
    float: left;
    margin-left: 18vw;
    margin-top: -70vh;
  }

  .next {
    font-size: 5vmin;
    float: right;
    margin-right: 15vw;
    margin-top: -70vh;
  }

  .next:hover, .prev:hover {
    cursor: pointer;
    color:white;
    opacity: 1;
    background-color: gray; 
  }

  .interests-picture a img{ 
    max-width: 70%;
    height: auto;
    width: auto\9;
    float:left; 
    margin-left: 15vw;
    margin-bottom: 2vh;
  }

  .interests-picture a:hover{
    color: none;
    opacity: 0.8;
  }

  .interests-picture a:last-child {
    display: none; 
  }

  .darkmode .interests-picture a:last-child {
    display: block; 
  }

  .darkmode .interests-picture a:first-child {
    display: none; 
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
   
  .picture {
    margin-top:8vh;
  }

  @font-face {
    font-family: "inter";
    src: url(https://fonts.google.com/share?selection.family=Inter) format("truetype");
  }

  .pictures {
    margin-top:-7vh;
  }
}

@keyframes leftSlide {
  0%{
    margin-left: -10vw;
    opacity: 0.1;
  }
  100%{
    margin-left: 0vw;
    opacity: 1;
  }
}

@keyframes rightSlide {
  0%{
    margin-right: -10vw;
    opacity: 0.1;
  }
  100%{
    margin-right: 0vw;
    opacity: 1;
  }
}
